<app-header [titulo]="titulo" [subtitulo]="subtitulo"></app-header>
<div class="container-fluid col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="parrafoInicial">En este momento estamos trabajando en la realización de la primera escuela primaria de Pazion. Hasta entonces estaremos ejecutando un proyecto piloto para medir y monitorear el impacto de nuestras enseñanzas y metodología. La Escuela Primaria Holística para niños sin privilegios se establecerá en Manchay, en los barrios pobres de Lima, Perú. Con Pazion ha creado un concepto educativo revolucionario e innovador mediante el cual empoderamos a los niños desde adentro para que puedan obtener movilidad social y civil y puedan romper el ciclo de la pobreza. </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="imagenContainer" src="../../../assets/imgs/school/primera.png" alt=""> 
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="subtitulo">ABORDAJE</h4>
            <p class="parrafoSchool">La Escuela Con Pazion apoya a los niños para que tomen conciencia de su propia fuerza y del mundo en el que viven, para que así se vuelvan autoconscientes y seguros de sí mismos. Al darles la oportunidad de descubrir y decidir lo que es importante y significativo para ellos, para los demás, para la sociedad y para el mundo en el que viven, podremos crear un cambio duradero. Trabajamos con lo que ya existe: el corazón de un niño, su fuerza, las familias, la comunidad, la naturaleza y el mundo. Creemos que muchos niños en todo el mundo pueden beneficiarse de este enfoque innovador. Lima es solo el comienzo, soñamos con expandirnos globalmente para continuar el movimiento.</p>
        </div>

        <div class="col-sm-12 offset-md-1 col-md-10 offset-md-1 col-lg-10">
            <img class="img-fluid holisticaImg" src="../../../assets/imgs/school/holistica.png" alt="">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="subtitulo">
                EDUCACIÓN HOLISTICA
            </h4>
            <P class="parrafoSchool">La Escuela Primaria Con Pazion utiliza el plan de estudios nacional en el que integramos yoga, atención plena, salud y conciencia ambiental. La cooperación es la norma, en lugar de la competencia y las recompensas de ayudarse mutuamente. Se enfatiza en el crecer y tener éxito en lugar de clasificar a los estudiantes.
                Nos enfocamos en la enseñanza de habilidades prácticas a través del yoga, meditación, jardinería ecológica y educación ambiental. Estas enseñanzas aumentan la confianza de los niños en sí mismos y alimenta su autoestima, lo que les ayuda a manifestar lo mejor de sí mismos. Esto, a su vez, tiene un efecto positivo en sus vidas y en quienes los rodean.</P>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid"src="../../../assets/imgs/school/segurnda.png" alt="">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="titulo rojo">
                    PRINCIPIOS Y VALORES PEDAGÓGICOS
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="containerPrincipios">
                <!-- <li>
                        1) RESPETO: Enseñamos a los niños a respetarse a sí mismos, así como a los demás, la naturaleza, los animales y el entorno con amor, compasión, dignidad, gratitud y cuidado. 
                </li>
                <li>
                        2) TOLERANCIA: Los niños aprenderán a valorarse a sí mismos, a apreciarse a sí mismos y a reconocerse como personas con derechos y deberes, pero también deben respetar a los demás,tolerantes con la diversidad, con aquellos que son diferentes y no comparten las mismas creencias. lenguaje, pensamientos políticos o religiosos.
                </li>
                <li>
                        3) INTEGRIDAD: Enseñamos la importancia de ser honestos y leales tanto en su palabra como en sus acciones. Les enseñamos a actuar desde la motivación interna, desde su corazón y, por lo tanto, a vivir con paz y pasión.

                </li>
                <li>
                        4) UNIDAD: Los estudiantes aprenderán y dominarán valores humanitarios como la paz y la compasión. A través de nuestro enfoque holístico promovemos la unidad, la idea de que todo está conectado. Les enseñamos a los niños que cada uno de ellos es parte de algo más grande que ellos mismos, como su escuela, su comunidad, su familia, la naturaleza, el mundo. Les enseñamos habilidades de comunicación que les permiten ver a los demás como "el otro yo". Aprenderán responsabilidades sociales, empatía y tolerancia, y les enseñaremos a identificar la influencia social.
                </li>
                <li>
                        5) RESPONSABILIDAD: Enseñamos a los niños a reflexionar sobre ellos mismos y sus acciones, les enseñamos a asumir la responsabilidad de que están a cargo de sus propias vidas, sus oportunidades, su comportamiento y su propia felicidad. Motivamos sus habilidades de pensamiento crítico y reflexión y les hacemos conscientes de su lugar en la sociedad y sus responsabilidades para convertirse en las mejores versiones de sí mismos.
                </li>
                <li>
                        6) SEGURIDAD: Con Pazion creará un lugar donde los niños se sientan seguros y puedan prosperar. Un lugar donde los niños se sientan en paz, en casa, se sientan seguros y libres. Creamos un espacio en el que los niños pueden florecer y prosperar. La cooperación es nuestra norma, en lugar de la competencia. El énfasis está en ayudarse mutuamente y crecer juntos como la recompensa en lugar de ser categorizados y colocados uno encima del otro.
                </li> -->
                <!-- <li>
                    RESPETO
                </li>
                <li>
                    TOLERANCIA
                </li>
                <li>
                    INTEGRIDAD
                </li>
                <li>
                    UNIDAD
                </li>
                <li>
                    RESPONSABILIDAD
                </li>
                <li>
                    SEGURIDAD
                </li> -->
            </ul>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-10 offset-md-1 col-lg-10">
            <img class="img-fluid holisticaImg" src="../../../assets/imgs/school/educa.png" alt="">
        </div>
    </div>
</div>
