<nav class="navbar navbar-expand-lg navbar-light bg-light index" >
    <a class="navbar-brand" href="#">
        <img class="logo" routerLink="/home" src="../../../assets/imgs/logo.svg" class="d-inline-block align-top" alt="">
    </a>
    <li class="nav-item dropdown sinStilos noOculto">
      <a class="nav-link dropdown-toggle fijos" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{"MENU.IDIOMA" | translate}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
        <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('es')">{{"MENU.ES" | translate}}</a>
        <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('en')">{{"MENU.EN" | translate}}</a>
       
        <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('nl')">{{"MENU.DA" | translate}}</a>
      </div>
    </li>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button> 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div class="col-sm-12 hidden moveRight js-scroll-trigger" >
          <P class="alignRight">X</P>
    </div> -->

        
        <div class="containerBotonesAdicional">
          <li class="nav-item hidden">
             <a class="nav-link" routerLink='/home'>{{'MENU.HOME' | translate}} </a>
           </li>
       <!--    <li class="nav-item hidden">
              <a class="nav-link" routerLink="/scholl">{{'MENU.ESCUELA' | translate}}</a>
          </li> -->
          <li class="nav-item hidden">
              <a class="nav-link" routerLink="/faq">{{'MENU.FAQ' | translate}}</a>
          </li>
          <!-- <li class="nav-item hidden">
              <a class="nav-link" (click)="openContact()">Contactanos</a>
          </li> -->
        </div>
     
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/history">{{'MENU.HISTORIA' | translate}}</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/scholl">{{"MENU.ESCUELA" | translate}}</a>
        </li>
        <li class="nav-item dropdown sinStilos oculto ">
          <a class="nav-link dropdown-toggle fijos" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{"MENU.IDIOMA" | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('es')">{{"MENU.ES" | translate}}</a>
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('en')">{{"MENU.EN" | translate}}</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('nl')">{{"MENU.DA" | translate}}</a>
          </div>
        </li>
        <li class="nav-item hidden ropdown">
          <a class="nav-link dropdown-toggle fijos" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{"MENU.IDIOMA" | translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('es')">{{"MENU.ES" | translate}}</a>
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('en')">{{"MENU.EN" | translate}}</a>
            <a class="dropdown-item oscuro" href="#" (click)="cambiarLenguaje('ne')">{{"MENU.DA" | translate}}</a>
          </div>
        </li> 
        <li class="nav-item hidden">
            <a class="nav-link" routerLink="/unete">{{"MENU.UNETE" | translate}}</a>
        </li>
        <li class="nav-item hidden">
            <a class="nav-link" routerLink="/contact">{{"MENU.CONTACTANOS" | translate}}</a>
        </li>
        <li class="hidden">
          <div class="container col-sm-12 fondo">
           
              <div class="col-sm-2 col-md-2 icono">
                <a href="https://www.facebook.com/ConPazion/" target="_blank"> 
                  <img src="../../../assets/icons/facebook-square-brands.svg" alt="">
                </a>
              </div>
              <div class="col-sm-2 col-md-2 icono">
                <a href="https://www.instagram.com/con.pazion/?hl=es-la" target="_blank" rel="noopener noreferrer">
                  <img src="../../../assets/icons/instagram-brands.svg" alt="">
                </a>
              </div>
              <div class="col-sm-2 col-md-2 icono">
                <a href="https://twitter.com/conpazion" target="_blank" >
                  <img src="../../../assets/icons/twitter-square-brands.svg" alt="">
                </a>
              </div>
              <div class="col-sm-2 col-md-2 icono">
                <a href="mailto:conpazion@conpazion.com">
                  <img src="../../../assets/icons/envelope-regular.svg" alt="">
                </a>
              </div>
            </div>
            
        </li>
        
        <li>
          <div class="col-sm-12 col-md-4 align-self-end">
            <button class="btn btn-danger donar" routerLink="/pay">{{"MENU.DONA" | translate}}</button>
        </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid" style="background:url(../../../../../assets/imgs/header/impacto.png); background-size: cover; background-repeat: no-repeat;">
      <div class="container imagenSize">
          
      </div>
</div>