<app-header [titulo]="titulo" [subtitulo]="subtitulo"></app-header>
<!-- <h1 mat-dialog-title>Hi </h1> -->
<div mat-dialog-content>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-7 formulario">
                <h3>Registro de voluntarios</h3>
                <P class="parrafoContact">Si quieres ser parte del voluntariado de Con Pazion llena este formulario y nos pondremos en contacto contigo.</P>   
                <div class="container">
                    Aqui debe ir el formulario embebido para el registro de los voluntarios
                </div>
</div>