<app-header [titulo]="titulo" [subtitulo]="subtitulo"></app-header>
<div clas="container-fluid">
    <div class="conteinarTabs">
            <mat-tab-group mat-stretch-tabs class="contenedorTabs">
                    <mat-tab label="Historia"> 
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 contenedorImagen down50">
                                    <img src="../../../assets/imgs/history/leonie.png" alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                        <h3 class="down50">Nuestra Historia</h3>
                                        <p class="parrafoHistory">Leonie se mudó a Perú en Abril de 2017 para hacer realidad un sueño tan preciado: crear un cambio sostenible en las vidas de los niños vulnerables para que puedan tener una oportunidad real en la vida. 
                                            Las primeras semanas en Lima fueron duras. El enorme contraste entre pobres y ricos en esta gran ciudad la conmocionó. Decidió sacarle el mayor provecho y actuó. Comenzó a trabajar como voluntaria en los barrios pobres de Manchay, una zona periférica de Lima, y nunca se fue después de su primera visita. Lo que presenció allí tuvo un gran impacto en ella y quería compartir eso con el mundo. Les dio una voz a los niños de Manchay y creó un plan para brindarles la oportunidad de un futuro mejor.
                                            Combinó sus experiencias y sus dos grandes pasiones: la educación y el yoga, y nació el concepto de la escuela primaria Con Pazion. Su lema sigue en pie y su visión de la escuela Con Pazion es crear un ambiente donde el cuerpo, la mente y el alma estén en equilibrio para que un niño tenga la oportunidad de sentirse seguro, crecer y florecer, y ofrecer a los niños la oportunidad de convertirse en las mejores versiones de sí mismos y a través de eso hacer una diferencia para sí mismos y para los demás.
                                            Con Pazion está trabajando actualmente en la realización de la primera escuela primaria en Manchay, un barrio empobrecido en Lima.
                                            El nombre Con Pazion abarca todos nuestros valores como fundamento. Proviene de las frases en español "con paz" y "con pasión".
                                            Nuestro objetivo es capacitar a los niños para que se levanten y superen las dificultades en sus vidas y vivan vidas significativas con paz y compasión.</p>   
                                </div>
                              <!--   <div class="col-sm-12 col-md-6 col-lg-6 contenedorImagen">
                                    <img src="../../../assets/imgs/history/manos.png" alt="">
                                </div> -->
                                <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                                        <h3>Porque el Nombre</h3>
                                    <p class="parrafoHistory">El nombre Con Pazion abarca todos nuestros valores como fundamento. Proviene de las frases en español "con paz" y "con pasión". Esto se combina con la palabra "compasión", que también es el nombre del grupo donde Leonie comenzó a trabajar como voluntaria en Perú. Compasión también fue el tema de la gira de Find What Feels Good (con Yoga con Adriene) que inspiró a Leonie a mudarse a Perú. Ella pensó que era hora de devolver algo al mundo. Para hacer una diferencia para los niños desfavorecidos y hacer una contribución sostenible a este mundo. La palabra Zion tiene los significados de ser levantada y fortificada. Nuestro objetivo es capacitar a los niños para que se levanten y superen las dificultades en sus vidas y vivan vidas significativas con paz y compasión.</p>   
                                </div>-->
                                <div class="col-sm-12 col-md-12 col-lg-12 rojo titulo">
                                    <p>Nuestro equipo está creciendo a medida que trabajamos para abrir la escuela primaria en Perú. Con Pazion trabaja con 70 voluntarios en Perú y en el extranjero. Nuestro equipo de voluntarios es responsable en la participación de la creación de nuestro plan de estudios holístico para la escuela primaria, la ejecución del proyecto piloto, nuestras clases de yoga en las escuelas estatales, y nuestras clases y actividades semanales para la comunidad.  </p>   
                                </div> 
                            </div>
                        </div>
                        <h3 class="nuestroEquipoTitulo">Nuestro Equipo</h3>
                      <div class="row">
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                    </div>
                                </div>
                                <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                            <h4>Nombre</h4>
                                            <p>Cargo</p>   
                                    </div>
                                </div>
                                <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                    </div>
                                </div>
                        </div> 
                        <!-- <div class="rojo subtitulo"> <p>“Sé el cambio que quieres ver en el mundo.”</p></div> -->
                        <div>
                            <div class="row">
                                <div class="w-100 sociosAliadosTitle">Partners - Socios -Aliados</div>
                                <div class="w-100 containerPartnerts">
                                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Misión"> 
                        <h3 class="down50">Nuestra Misión</h3>   
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">  
                                    <iframe width="90%" height="450" src="https://www.youtube.com/embed/rTiImxnLrQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            
                            <div class="col-sm-12 col-md-12 col-lg-12 rojo titulo down50">
                                <p>Crear un cambio importante y sostenible para nuestros estudiantes en sus comportamientos y estilos de vida, ofreciéndoles habilidades prácticas con una mentalidad holística y balanceada, centrándose en su propia conciencia, salud y medio ambiente.
                                    </p>   
                            </div>
                            <!-- <div class="col-sm-12 col-md-12 col-lg-12 texto">
                                <p>Les ayudamos a ser exitosos y significativos para ellos, para los demás y para el mundo como un todo. Les ayudamos a descubrir las cosas por sí mismos, a tomar conciencia y a ver las oportunidades. Los acompañamos y equipamos tanto como sea posible para ayudarlos a alcanzar sus metas. Permitimos que los niños exploren por su cuenta y determinen lo que es valioso e importante para ellos, para los demás y para el mundo en el que crecen.</p>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 containerImagen down50">
                                    <img src="../../../assets/imgs/mision/foto.png" alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <h3 class="subtitulo down50">
                                        Las circunstancias en Manchay
                                    </h3>
                                    <p class="textoContenido">Manchay es una periferia de Lima, Perú. En Manchay, la situación en la mayoría de las escuelas es conmovedora. En Manchay, aproximadamente el 50% vive en pobreza extrema. Muchas casas tienen un ingreso inferior a $ 20 por mes y solo el 10% de la población tiene un ingreso regular. La tasa de desempleo es alta, lo que resulta en un aumento de la delincuencia juvenil y la formación de pandillas. Los niños de Manchay están atrasados en su desarrollo. Están muy por detrás en temas esenciales, como escritura, lectura y matemáticas. La falta de capacidades de los docentes, su educación, sus habilidades pedagógicas, combinadas con la gran cantidad de niños por aula, las estructuras de construcción y la falta de estímulo por parte de los padres causan problemas graves. En Manchay, las personas viven el día a día, luchando por sobrevivir. No hay visión ni esperanza a largo plazo.</p>   
                                </div>
                            </div>
                            
                            <div class="jumbotron jumbotron-fluid voluntariadoContainer" style="background:url(../../../../../assets/imgs/header/impacto.png); background-size: cover; background-repeat: no-repeat; width:100%;">
                                <div class="container imagenSize">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="display-4 voluntarioTitulo">Voluntariado</h1>
                                            <p class="fondoBlanco">Si quieres ser parte del voluntariado de Con Pazion solo tienes que llenar un formulario y nos contactaremos contigo</p>
                                          </div>
                                          <div class="col-sm-8 offset-md-4 col-md-4 offset-lg-4 col-lg-4"></div>
                                          <div class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4 botonConoceMas">
                                              <button class="btn btn-light donar botonVoluntario" [routerLink]="['/voluntariado']">Quiero ser voluntario</button>
                                          </div> 
                                    </div>
                                </div>
                          </div>  

                        </div>
                        </div> 
                    </mat-tab>
                  </mat-tab-group>
    </div>


</div>
