<div class="subtituloCabecera">{{"SUBTITULO.HISTORIA" | translate}}</div>
<app-header></app-header>
<div clas="container-fluid">
    <div class="conteinarTabs">
            <mat-tab-group mat-stretch-tabs class="contenedorTabs">
                    <mat-tab label="Historia"> 
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 contenedorImagen down50">
                                    <img src="../../../assets/imgs/history/leonie.png" alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                        <h3 class="down50">{{"HISTORIA.NUESTRA" | translate}}</h3>
                                        <p class="parrafoHistory">{{"HISTORIA.ONEPARRAFO" | translate}}</p>   
                                </div>
                              <!--   <div class="col-sm-12 col-md-6 col-lg-6 contenedorImagen">
                                    <img src="../../../assets/imgs/history/manos.png" alt="">
                                </div> -->
                                <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                                        <h3>Porque el Nombre</h3>
                                    <p class="parrafoHistory">El nombre Con Pazion abarca todos nuestros valores como fundamento. Proviene de las frases en español "con paz" y "con pasión". Esto se combina con la palabra "compasión", que también es el nombre del grupo donde Leonie comenzó a trabajar como voluntaria en Perú. Compasión también fue el tema de la gira de Find What Feels Good (con Yoga con Adriene) que inspiró a Leonie a mudarse a Perú. Ella pensó que era hora de devolver algo al mundo. Para hacer una diferencia para los niños desfavorecidos y hacer una contribución sostenible a este mundo. La palabra Zion tiene los significados de ser levantada y fortificada. Nuestro objetivo es capacitar a los niños para que se levanten y superen las dificultades en sus vidas y vivan vidas significativas con paz y compasión.</p>   
                                </div>-->
                                <div class="col-sm-12 col-md-12 col-lg-12 rojo titulo">
                                    <p>{{"HISTORIA.TWOPARRAFO" | translate}}</p>   
                                </div> 
                            </div>
                        </div>
                        <h3 class="nuestroEquipoTitulo">{{"HISTORIA.EQUIPO" | translate}}</h3>
                      <div class="row">
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                <div class="cuadroImagen">
                                    <h4>Nombre</h4>
                                    <p>Cargo</p>   
                                </div>
                            </div>
                            <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                    </div>
                                </div>
                                <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                            <h4>Nombre</h4>
                                            <p>Cargo</p>   
                                    </div>
                                </div>
                                <div class="w-50 col-sm-6 col-md-4 col-lg-3">
                                    <div class="cuadroImagen">
                                        <h4>Nombre</h4>
                                        <p>Cargo</p>   
                                    </div>
                                </div>
                        </div> 
                        <!-- <div class="rojo subtitulo"> <p>“Sé el cambio que quieres ver en el mundo.”</p></div> -->
                        <div>
                            <div class="row">
                                <div class="w-100 sociosAliadosTitle">{{"HISTORIA.PARTNERTS" | translate}}</div>
                                <div class="w-100 containerPartnerts">
                                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="row">
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                                <div class="col imagenPartnerts">
                                                    <img src="../../../assets/imgs/p360.png" alt="">
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Misión"> 
                        <h3 class="down50">{{"MISION.TITULO" | translate}}</h3>   
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">  
                                    <iframe width="90%" height="450" src="https://www.youtube.com/embed/rTiImxnLrQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            
                            <div class="col-sm-12 col-md-12 col-lg-12 rojo titulo down50">
                                <p>{{"MISION.CREAR" | translate}}</p>   
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 containerImagen down50">
                                    <img src="../../../assets/imgs/mision/foto.png" alt="">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <h3 class="subtitulo down50">
                                        {{"MISION.TITULOPA" | translate}}
                                    </h3>
                                    <p class="textoContenido">{{"MISION.PARRAFOPA" | translate}}</p>   
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-12 col-lg-12 containerMision">
                                <img class="img-fluid" src="../../../assets/imgs/mision/mision.png" alt="">
                            </div>
                            <div class="jumbotron jumbotron-fluid voluntariadoContainer" style="background:url(../../../../../assets/imgs/header/impacto.png); background-size: cover; background-repeat: no-repeat; width:100%;">
                                <div class="container imagenSize">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <h1 class="display-4 voluntarioTitulo">{{"MISION.VOLUNTARIADO" | translate}}</h1>
                                            <p class="fondoBlanco">{{"MISION.TEXTOVOL" | translate}}</p>
                                          </div>
                                          <div class="col-sm-8 offset-md-4 col-md-4 offset-lg-4 col-lg-4"></div>
                                          <div class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4 botonConoceMas">
                                              <button class="btn btn-light donar botonVoluntario" [routerLink]="['/voluntariado']">{{"MISION.BOTON" | translate}}</button>
                                          </div> 
                                    </div>
                                </div>
                          </div>  

                        </div>
                        </div> 
                    </mat-tab>
                  </mat-tab-group>
    </div>


</div>
