<app-header></app-header>
<div class="container cajaPago">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 imagenPago">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h3>Haz la diferencia</h3>
           <!--  <p>Forma parte del cambio</p> -->
            <p class="parrafoCambio">Estamos profundamente agradecidos por tu deseo de participar. Menos del 10% de nuestras donaciones se utilizarán para recaudar fondos. Con Pazion tiene un estado deducible de impuestos (ANBI) en los Países Bajos. Y tambien en Perú. Y ahora mismo estamos trabajando en el registro de Con Pazion como una organización sin fines de lucro 501 (c)3 en los Estados Unidos</p>   
            <div class="contenedorPay">
                <app-payment></app-payment>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="paises">Peru:Asociación conpazion</p>    
                        <p class="parrafoGrey">RUC:20603529708</p>   
                        <p class="parrafoGrey">Cuentas bancarias: SOLES: 193-2535339-0-83</p>
                        <p class="parrafoGrey">CCI: 002-193-002-535-339-083-11</p>   
        
                        <p class="parrafoGrey">BCP DOLARES: 193-2537053-1-07</p>
                        <p class="parrafoGrey">CCI: 002-193-002-537-053-107-18</p>   
                    </div>
                    <div class="col-sm-6">
                        <p class="paises">Países Bajos: Fundación Con Pazion</p>  
                        <p class="parrafoGrey">KVK: 7038185</p>   
                        <p class="parrafoGrey">Cuenta Bancaria (IBAN) NL36INGB0008256497 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
