
<div class="subtituloCabecera">{{"SUBTITULO.DONA" | translate}}</div>
<app-header ></app-header>
<div class="container cajaPago">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 imagenPago">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h3>{{"DONAR.TITULO" | translate}}</h3>
           <!--  <p>Forma parte del cambio</p> -->
            <p class="parrafoCambio">{{"DONAR.PARRAFO" | translate}}</p>   
            <div class="contenedorPay">
                <app-payment></app-payment>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="paises">{{"DONAR.PERU" | translate}}</p>    
                        <p class="parrafoGrey">{{"DONAR.PERURUC" | translate}}</p>   
                        <p class="parrafoGrey">{{"DONAR.CUENTAPRIMERA" | translate}}</p>
                        <p class="parrafoGrey">{{"DONAR.CCIPRIMERA" | translate}}</p>   
        
                        <p class="parrafoGrey">{{"DONAR.CUENTASEGUNDA" | translate}}</p>
                        <p class="parrafoGrey">{{"DONAR.CCISEGUNDA" | translate}}</p>   
                    </div>
                    <div class="col-sm-6">
                        <p class="paises">{{"DONAR.HOLANDA" | translate}}</p>  
                        <p class="parrafoGrey">{{"DONAR.KVK" | translate}}</p>   
                        <p class="parrafoGrey">{{"DONAR.CUENTAHOLANDA" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
