<div class="subtituloCabecera">{{"SUBTITULO.HOME" | translate}}</div>
<app-header></app-header>
<div class="container-fluid">

        <div class="row">
                <div class="w-50 col-sm-6 col-md-3 col-lg-3 contenedorIconos" routerLink="/history">
                    <div class="row">
                        <div class="w-100 containerIcon">
                            <img  class="imagenIcono" src="../../../assets/imgs/home/quienes.png" alt="">
                        </div>
                        <div class="w-100 textoCenter">
                            <p>{{"HOME.QUIENES" | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="w-50 col-sm-6 col-md-3 col-lg-3 contenedorIconos" routerLink="/scholl">
                    <div class="row">
                        <div class="w-100 containerIcon">
                            <img  class="imagenIcono" src="../../../assets/imgs/home/school.png" alt="">
                        </div>
                        <div class="w-100 textoCenter">
                            <p>{{"HOME.ESCUELACON" | translate}}</p> 
                        </div>
                    </div>
                </div>
                <div class="w-50 col-sm-6 col-md-3 col-lg-3 contenedorIconos" routerLink="[faq">
                    <div class="row">
                        <div class="w-100 containerIcon">
                            <img  class="imagenIcono" src="../../../assets/imgs/home/testimonios.png" alt="">
                        </div>
                        <div class="w-100 textoCenter">
                            <p>{{"HOME.TESTIMONIOS" | translate}}</p> 
                        </div>
                    </div>
                </div>
                <div class="w-50 col-sm-6 col-md-3 col-lg-3 contenedorIconos" routerLink="/pay">
                    <div class="row">
                        <div class="w-100 containerIcon">
                            <img class="imagenIcono" src="../../../assets/imgs/home/dona.png" alt="">
                        </div>
                        <div class="w-100 textoCenter">
                            <p> {{"HOME.DONA" | translate}}</p>
                        </div>
                    </div>
                </div>
        </div>
  
    <div class="col-sm-12 col-md-12 col-lg12">
        <p class="paragraphInHome">{{"ENTRADA" | translate}}</p>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background:url(../../../../../assets/imgs/header/impacto.png); background-size: cover; background-repeat: no-repeat;">
        <div class="container imagenSize">
            <div class="row">
                <div class="col-sm-12 offset-md-2 ol-md-8 offset-lg-2 col-lg-8">
                    <h1 class="display-2 titulo">{{"HOME.NUESTRO" | translate}}</h1>
                  </div>
                  <!-- <div class="col-sm-12 col-md-8 col-lg-8">
                      <p class="lead subtitulo">Conoce más</p>
                  </div> -->
                  <div class="col-sm-8 offset-md-4 col-md-4 offset-lg-4 col-lg-4"></div>
                  <div class="col-sm-12 offset-md-4 col-md-4 offset-lg-4 col-lg-4 botonConoceMas">
                      <button class="btn btn-danger donar" [routerLink]="['/scholl']">{{"HOME.CONOCE" | translate}}</button>
                  </div> 
            </div>
        </div>
  </div>    
        
        <div class="col-sm-12 col-md-12 col-lg-12 containerTestimonio">
            <h4 class="tituloTestimonio">{{"HOME.TESTIMONIOS" | translate}}</h4>
        </div>
        <div class=" centrado">
            <div class="row">
                              <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="card text-white">
                                    <img src="../../../assets/imgs/home/tstimonioOne.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                      <h5 class="card-title">{{"HOME.BLOG" | translate}}</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <button href="#" class="btn btn-danger donar" [routerLink]="['/media']">{{"HOME.CONOCEMAS" | translate}}</button>
                                    </div>
                                  </div>
                    
                              
                              </div>
                              <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="card text-white">
                                    <img src="../../../assets/imgs/home/testimonioTwo.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                      <h5 class="card-title">{{"HOME.PREGUNTAS" | translate}}</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <button href="#" class="btn btn-danger donar" [routerLink]="['/media']">{{"HOME.CONOCEMAS" | translate}}</button>
                                    </div>
                                  </div>
                                
                              </div>
                              <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="card text-white">
                                    <img src="../../../assets/imgs/home/testimonioThree.png" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                      <h5 class="card-title">{{"HOME.MEDIA" | translate}}</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <button href="#" class="btn btn-danger donar" [routerLink]="['/media']">{{"HOME.CONOCEMAS" | translate}}</button>
                                    </div>
                                  </div>
        
                              </div>

            </div>
      
        </div>