.containerImagen{
    background-image: url(../../../assets/imgs/home/primera.png);
    background-size: cover;
    width:200px;
    height: 500px;
    margin-bottom:40px;
    background-repeat: no-repeat;
    @media (max-width:700px) {
        display: none;
    }
}
h3{
    text-align: center;
    color:#EC3953;
    font-size:1.1em;
}
.parrafoContact{
    color:#666C73;
    font-size:.8em;
    text-align: center;
}
.formulario{
    margin-bottom:40px;
}
.subtituloCabecera{
    background:rgba(190, 5, 67, 0.7);
    color:#fff;
    font-size:6em;
    position: absolute;
    z-index:1000;
    top:150!important;
    margin-top:350px;
    padding-left:20px;
    padding-right:20px;
    left:0;
    @media (max-width:600px){
        font-size:3.5em;
        margin-top:180px;
    }
}