.containerImagen{
    background-image: url(../../../assets/imgs/home/primera.png);
    background-size: cover;
    width:200px;
    height: 500px;
    background-repeat: no-repeat;
}
h3{
    text-align: center;
    color:#EC3953;
    font-size:1.1em;
}
.parrafoContact{
    color:#666C73;
    font-size:.8em;
    text-align: center;
}