<div class="subtituloCabecera">{{"SUBTITULO.FAQ" | translate}}</div>
<app-header ></app-header>
<div class="container container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9 ">
                    <h4 class="tituloFaq rojo">
                            {{"TESTIMONIOS.PRIMERATITULO" | translate}}
                    </h4>
                    <p class="parrafoFaq">
                        {{"TESTIMONIOS.PRIMERAPARRAFO" | translate}}
                    </p>   
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <img src="../../../assets/imgs/faq/uno.png" alt="">
                </div>
            </div>
        </div>  
        <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9 ">
                        <h4 class="tituloFaq rojo">
                            {{"TESTIMONIOS.SEGUNDATITULO" | translate}}
                        </h4>
                        <div class="parrafoFaq">
                                <p>   {{"TESTIMONIOS.SEGUNDAPARRAFO" | translate}}</p>
                                <ul>
                                    <li>
                                        {{"TESTIMONIOUNO" | translate}}
                                    </li>
                                    <li>{{"TESTIMONIODOS" | translate}}</li>
                                    <li>{{"TESTIMONIOTRES" | translate}}</li>
                                    <li>{{"TESTIMONIOCUATRO" | translate}}</li>
                                    <li>{{"TESTIMONIOCINCO" | translate}}</li>
                                </ul>
                            </div>   
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <img src="../../../assets/imgs/faq/dos.png" alt="">
                    </div>
                </div>
            </div>  

            <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                    <div class="row">
                        <div class="col-sm-12 col-md-9 col-lg-9 ">
                            <h4 class="tituloFaq rojo">
                                {{"TESTIMONIOS.TERCERATITULO" | translate}}
                            </h4>
                            <div class="parrafoFaq">
                                    <p>  {{"TESTIMONIOS.TERCERAPARRAFO" | translate}}</p>
                                </div>   
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <img src="../../../assets/imgs/faq/tres.png" alt="">
                        </div>
                    </div>
                </div> 
                
                <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-9 ">
                                <h4 class="tituloFaq rojo">
                                    {{"TESTIMONIOS.CUARTATITULO" | translate}}
                                </h4>
                                <div class="parrafoFaq">
                                        <p> {{"TESTIMONIOS.CUARTAPARRAFO" | translate}}.</p>
                                    </div>   
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <img src="../../../assets/imgs/faq/cuatro.png" alt="">
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                            <div class="row">
                                <div class="col-sm-12 col-md-9 col-lg-9 ">
                                    <h4 class="tituloFaq rojo">
                                        {{"TESTIMONIOS.QUINTATITULO" | translate}}
                                    </h4>
                                    <div class="parrafoFaq">
                                            <p> {{"TESTIMONIOS.QUINTAPARRAFO" | translate}}</p>
                                        </div>   
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <img src="../../../assets/imgs/faq/cinco.png" alt="">
                                </div>
                            </div>
                        </div> 

                        <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                                <div class="row">
                                    <div class="col-sm-12 col-md-9 col-lg-9 ">
                                        <h4 class="tituloFaq rojo">
                                            {{"TESTIMONIOS.SEXTATITULO" | translate}}
                                        </h4>
                                        <div class="parrafoFaq">
                                                <p>  {{"TESTIMONIOS.SEXTAPARRAFO" | translate}}</p>
                                            </div>   
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <img src="../../../assets/imgs/faq/seis.png" alt="">
                                    </div>
                                </div>
                            </div> 

                            <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-9 ">
                                            <h4 class="tituloFaq rojo">
                                                {{"TESTIMONIOS.SETIMATITULO" | translate}}
                                            </h4>
                                            <div class="parrafoFaq">
                                                    <p>{{"TESTIMONIOS.SETIMAPARRAFO" | translate}}</p>
                                                </div>   
                                        </div>
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <img src="../../../assets/imgs/faq/siete.png" alt="">
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-sm-12 col-md-12 col-lg-12 containerFaq">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-9 col-lg-9 ">
                                                <h4 class="tituloFaq rojo">
                                                    {{"TESTIMONIOS.OCTAVATITULO" | translate}}
                                                </h4>
                                                <div class="parrafoFaq">
                                                        <p>  {{"TESTIMONIOS.OCTAVAPARRAFO" | translate}}</p>
                                                    </div>   
                                            </div>
                                            <div class="col-sm-12 col-md-3 col-lg-3">
                                                <img src="../../../assets/imgs/faq/ocho.png" alt="">
                                            </div>
                                        </div>
                                    </div> 
    </div>
</div>
